---
import Layout from '~/layouts/PageLayout.astro';
import { findLatestPosts } from '~/utils/blog';
import GridItem from '~/components/blog/GridItem.astro';
import HeroPost from '~/components/blog/HeroPost.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'YiQing / Blog / Home',
  ignoreTitleTemplate: true,
};

const count = 4;
const posts = await findLatestPosts({ count });
const latestPost = posts[0];
const previousPosts = posts.slice(1);
---

<Layout metadata={metadata}>
  <Hero
  >
    <Fragment slot="title">
      <span>你好，</span><span class="">我是</span>
      <span class="text-accent dark:text-white highlight"> 逸清</span>
    </Fragment>

    <Fragment slot="subtitle">
      这里我会分享一些AI、Web3等科技博客，欢迎关注
    </Fragment>
  </Hero>
  <section class="max-w-4xl mx-auto px-4 sm:px-6 py-8 md:py-12 border-t border-gray-200 dark:border-gray-800">
    
    <h3 class="text-sm font-bold text-gray-500 dark:text-gray-400 uppercase tracking-widest mb-8">最新文章</h3>


    <!-- Hero Section: Latest Post -->
    {latestPost && <HeroPost post={latestPost} />}

    <!-- Divider -->
    <!-- <hr class="border-gray-200 dark:border-gray-800 mb-12" /> -->

    <!-- Previous Posts Section -->
    <div class="pt-8 border-t border-gray-200 dark:border-gray-800">
      <h3 class="text-sm font-bold text-gray-500 dark:text-gray-400 uppercase tracking-widest mb-8">往期文章</h3>
      
      <div class="grid gap-6 row-gap-5 md:grid-cols-2 lg:grid-cols-3">
        {previousPosts.map((post) => <GridItem post={post} />)}
      </div>
    </div>

  </section>
</Layout>